@import "./base.css";

body{

    font-family: var(--mainfont);   
    background-color: #eee;
    
}
/* Header start */
.header  {
    background-color: #fff;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 5px;
}
.header .logo a{
    color: var(--maincolor);
}
.header .logo img{
    width: 30px;
}
.menu{
    display:none;
}
.navbar ul{
display: flex;
flex-wrap:wrap;
gap: 9px;
}
.active {
    font-weight: 700;
}
.navbar ul li a{
    color: #101928;
    
}
.auth{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    align-items: center;
    
}
.auth .login{
    color: var(--maincolor);
    font-weight: 700;
    border: solid 2px var(--maincolor);
    padding: 7px 30px;
    border-radius: 15px;
}
.auth .register{
    color:#fff;
    font-weight:700;
    border: solid 2px var(--maincolor);
    background-color: var(--maincolor);
    padding: 5px 25px;
    border-radius: 15px;
}
/* Header responsitive */
@media screen and (max-width:970px){
    ul li,
    .auth{
        display:none;
    }
    .menu{
        display:block;
        order:2;
    }
}
@media screen and (max-width:530px){
    .container{
        width:calc(100% - 23px);       
    }
    .header .logo img{
        width:20px;
    }
    .header a{
        font-size:13px;
    }

}
/*Header end*/

/* footer start */
.footer{
    background-color: #393E46;
    color: white;
    padding:24px;
    
}



.footer-start{
width:400px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 20px;
}

.footer .logo p{
    font-size: 13px;
    font-weight: 250;
    
}
.footer a{
    color:white;
    
}
.logo{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 15px;
}
.footer-start .logo a{
    color: white;
}
.footer-start .logo img{
    width: 30px;
}
.footer-start .icons img{
border: 1px solid white;
}
.icons .facebook{
    width: 20px;
height: 20px;
top: 111.2px;
left: 51.07px;
gap: 0px;
opacity: 0px;

}
.icons .twitter{
    width: 20px;
height: 20px;
top: 111.2px;
left: 51.07px;
gap: 0px;
opacity: 0px;


}
.icons .linkedin{
    width: 20.18px;
    height: 20.18px;
    top: 107.5px;
    left: 85.67px;
    gap: 0px;
    border: 0.41px 0px 0px 0px;
    opacity: 0px;
    
}
.icons .instagram{
    width: 20px;
height: 20px;
top: 70.2px;
left: 10.07px;
gap: 0px;
opacity: 0px;

}
.footer-end{
    flex-grow:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-end h2{
    font-size: 23px;
    
}
.footer-end a{
    font-size: 13px;
    font-weight: 250;
}
.footer-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.footer-end .nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap:10px;


}

/* responsive footer */

@media screen and (max-width:1200px){
    .footer .row{
        gap:15px;

    }
    .footer-start{
        width:100%;
        text-align: center;
    }

    .footer-end{
        width:100%;
    }
    
}
@media screen and (max-width:768px){
    .footer-item{
        width: 50%;
        margin-bottom: 20px;
    } 
}
@media screen and (max-width:400px){
    .footer-item{
        width: 100%;
        margin-bottom: 10px;
    } 
}