@import "./base.css";

body{

    font-family: var(--mainfont);   
    background-color: #fff;
    
}
/* Header start */
.header  {
    background-color: #fff;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 20px 0 20px 0;
    box-shadow: 0px 8.2371px 8.2371px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 5px;
}
.header .logo a{
    color: var(--maincolor);
}
.header .logo img{
    width: 30px;
}
.menu{
    display:none;
}
.navbar ul{
display: flex;
flex-wrap:wrap;
gap: 9px;
}
.active {
    font-weight: 700;
}
.navbar ul li a{
    color: #101928;
    padding:3px;
    
}
.navbar ul li a:hover{
    background-color: #cbcbcb;
    border-radius: 90px;
    
}
.auth{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    align-items: center;
    
}
.auth .login{
    color: var(--maincolor);
    font-weight: 700;
    border: solid 2px var(--maincolor);
    padding: 7px 30px;
    border-radius: 15px;
}
.login:hover{
    background-color: #d9d9e0;
}
.register{
    color:#fff;
    font-weight:700;
    border: solid 2px var(--maincolor);
    background-color: var(--maincolor);
    padding: 5px 25px;
    border-radius: 15px;
}
.register:hover{
        background-color: #564fda;
    
}
/* Header responsitive */
@media screen and (max-width:970px){
    ul li,
    .auth{
        display:none;
    }
    .menu{
        display:block;
        order:2;
    }
}
@media screen and (max-width:530px){
    .container{
        width:calc(100% - 23px);       
    }
    .header .logo img{
        width:20px;
    }
    .header a{
        font-size:13px;
    }

}
/*Header end*/

/* begings start */


.begins{
    padding: 25px;
}
.begins-details{
    padding: 20px;
    width: 40%;
}
.begins-details span{
    color: var(--maincolor);
}
.begins .begin-spans{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#first-span{
    font-size: 18px;
    font-weight: 700; 

}
.playlogo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    
}
.playlogo:hover{
    background-color: #F0C932;
    border-radius: 90px;
    padding: 3px;
}
.begins .playlogo a{
    color: #000;
    
}
.begins .playlogo img{
    width: 30px;
}
.buttons .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.begins-details h1{
    font-size: 55px;
    font-weight: 900;
    width: 450px;
   
}
#h1-color{
    color: var(--maincolor);
}

.begins p{
    color: #969696;
    font-weight: 400;
    font-size:12px;
    margin-bottom: 20px;
}
.begins .image{
    width:400px;
    margin:auto;
}
 .begins .image img{
    width: 88%;
}





/* responsive begins */

@media screen and (max-width:1150px){
    .begins-details{
        width: 100%;
    }
    .begins-details{
        text-align: center;
    }
    .begins-details h1{
        width: 100%;
        align-items: center;
        text-align: center;
    }   
    .begins .begin-spans{
        text-align: center;
        flex-wrap: nowrap;
    }
    .buttons .row{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;   
    }
}

/* begins end */

/* Special section start */

.special{
    padding:110px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    
}
.special-header{
    width: 25%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.special-header span{
    font-family: var(--subfont);
    color: var(--maincolor);
    font-size: 13px;
}
.special-header h2{
    font-size: 35px;
    width: 250px;
    
}
.special-header p{
    color: #969696;
    font-size: 14px;
}
.special-details{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
   justify-content: space-between;
   color: white;
   
    
}

.WhatWeGive img{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 180px;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.WhatWeGive{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    padding:20px;
    background-color: var(--maincolor);
    border-radius: 6px;
    
}
.WhatWeGive h3{
    font-family: var(--subfont);
}
.WhatWeGive p{
    color: #DDDDDD;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 15px;
    
}



/* responsive special section */

@media screen and (max-width:1150px){
    .special-header{
        width: 100%;
        align-items: center;
        text-align: center;
    }   
   .special-details {
   width: 100%;   
   }
}

@media screen and (max-width:780px){
    .special-header{
        width: 100%;
        align-items: center;
        text-align: center;
    }   
   .special-details {
   width: 100%;   
   }
   .special-details .WhatWeGive:nth-child(1){
    width: 35%;
   }
   .special-details .WhatWeGive:nth-child(2){
    display: 35%;
   }
   .special-details .WhatWeGive:nth-child(3){
    display: none;
   }
}
@media screen and (max-width:640px){
    .special-header{
        width: 100%;
        align-items: center;
        text-align: center;
    }   
   .special-details {
   width: 100%;   
   }
   .special-details .WhatWeGive:nth-child(1){
    width: 100%;
   }
   .special-details .WhatWeGive:nth-child(2){
    display: none;
   }
}





/* special section end * /


/*selected course start */

.selected-courses{

    background-color: var(--maincolor);
    padding:50px;
  
}
.selected-courses .image{
    width:400px;
    margin:auto;
}
 .selected-courses .image img{
    width: 100%;
}

.selectedcourse-details{
    color: #fff;
}
.selectedcourse-details p:first-of-type{
    margin-bottom:10px;
    color:#F0C932;
    font-size: 12px;
    font-family: var(--subfont);
    font-weight: 200;
}
.selectedcourse-details h2{
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    width: 200px;
}
.selectedcourse-details p:last-of-type{
    margin-bottom:20px;
    color:#DDDDDD;
    font-size: 12px;
    
}
.selectedcourse-details #color{
    color:#F0C932;
    font-weight: 400;
}
.selectedcourse-details span{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--subfont);
    font-weight: 200;
}

.selectedcourse-details .spans{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 17px;
    justify-content: space-between;
    text-align: center;
}

/* responsive selected course */

@media screen and (max-width:1250px){
    .selected-courses.image img{
        width: 100%;
        margin: auto;
    }
    .selectedcourse-details{
        text-align: center;
        margin:auto;
    }
    .selectedcourse-details h2{
        width:300px;
        margin: auto;
        margin-bottom: 20px;
    }
}



/*selected course end*/

/* courses section */
.courses{
padding:40px 0;
margin-left:40px;
}
.courses .row{
    gap:40px;
}
.course-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}
.course-items,.course-desc{
    width: calc(( 100% - 40px) /2 );
}
.course{
    width: calc((100% - 20px) / 2);
    position:relative;
    color: #fff;
    background-color: #fff;
}
.course-card{
   position: relative;
}
.course-info{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-start;
}
.course img{
    width:100%;
    filter: brightness(85%);
}
.course-info span:first-of-type{
    font-size: 15px;
    font-weight: 700;
    background-color: var(--maincolor);
    padding: 10px;
}
.course-info span:last-of-type{
    font-size: 18px;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 10px;
}
.course-details{
    padding:15px;
    box-shadow: 0px 8.2371px 8.2371px rgba(0, 0, 0, 0.1);
}
.course-details .row:nth-child(2){
    justify-content: flex-start;

}
.course-details h2{
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.course-details .details{
    color: black;
    font-size: 14px;
    
}
.course-details span{
    color: var(--maincolor);
    font-size:12px;
}
.courses .row{  
    align-items: flex-start;
    flex-wrap: nowrap;
}
.course-desc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
}

.course-desc h2{
    font-size: 25px;
    font-weight: 700;
}
.course-desc p:first-of-type{
    color: var(--maincolor);
}
.course-desc p:last-of-type{
    color:#969696;
    margin-top: 50px;
}
.course-desc a{
    color: #fff;
    background-color: var(--maincolor);
    width: 72px;
    padding: 5.35px 20.18px 5.35px 20.18px;
    text-align: center;
    border-radius: 7px;
}
.course-desc a:hover{
    background-color: #564fda;
}

.course .row .details{
    color: #969696;
}
/* course responsive screen */

@media screen and (max-width:1200px){
   .courses .row{
        align-items: center;
        flex-wrap: wrap;
    }
   .course-items,.course-desc{
        width: 100%;
    }
    .course-desc{
        margin-left: 0;
        align-items: center;
    }
}

@media screen and (max-width:760px){
    .courses .row{
        align-items: flex-start;
        flex-wrap: wrap;
    }
   .course{
    width: 100%;
    }
    .course-desc{
        align-items: center;
    }
    
   }
/* courses end */



/* testimonial section */
.testimonials{
    padding: 50px 0;
}
.user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.testimonials .row{
    gap: 40px;
}
.testimonials h2{
    text-align: center;
    margin-bottom: 30px;
}
.testimonial{
    box-shadow: 0px 8.2371px 8.2371px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: calc(( 100% - 40px ) / 2 );
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}
.user-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.testimonial span{
    font-weight: 400;
    font-size: 12px;
    color: #969696;
    
}
.testimonial blockquote{
    color: #969696;
}
.testimonial::after{
    content: '';
    position: absolute;
    top:0;
    right:0;
    border-top: 50px solid #F4F4F4;
    border-right: 50px solid #F4F4F4;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;

}
/* responsive testimonial */

@media screen and (max-width:768px){
    .testimonial{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}
/* testimonial end */


/* footer start */
.footer{
    background-color: #393E46;
    color: white;
    padding:20px 0 20px 0;
    
}



.footer-start{
width:400px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 20px;
}

.footer .logo p{
    font-size: 13px;
    font-weight: 250;
    
}
.footer a{
    color:white;
    
}
.logo{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 15px;
}
.footer-start .logo a{
    color: white;
}
.footer-start .logo img{
    width: 30px;
}
.footer-start .icons{
    display: flex;
    gap:13px;
}
.footer-start .icons img{
border: 1px solid white;
}
.icons{
    display: flex;
    gap:10px;
}
.icons .facebook{
    border: solid 1px white;
    padding: 5px;
}
.icons .twitter{
    border: solid 1px white;
    padding: 5px;
}
.icons .linkedin{
    border: solid 1px white;
    padding: 5px;
}
.icons .instagram{
    border: solid 1px white;
    padding: 5px;
}

.footer-end{
    flex-grow:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-end h2{
    font-size: 23px;
    
}
.footer-end a{
    font-size: 13px;
    font-weight: 250;
}
.footer-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.footer-end .nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap:10px;


}

/* responsive footer */

@media screen and (max-width:1200px){
    .footer .row{
        gap:15px;

    }
    .footer-start{
        width:100%;
        text-align: center;
    }

    .footer-end{
        width:100%;
    }
    
}
@media screen and (max-width:768px){
    .footer-item{
        width: 50%;
        margin-bottom: 20px;
    } 
}
@media screen and (max-width:400px){
    .footer-item{
        width: 100%;
        margin-bottom: 10px;
    } 
}